@page
@model RazorPagesWithAdminPages.AdminEditModel

@{
    ViewData["Title"] = "AdminEdit";
}

<h1>AdminEdit</h1>

<h4>AdminPage</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AdminPage.UserId" />
            <div class="form-group">
                <label asp-for="AdminPage.MaxTodoIsIncompleted" class="control-label"></label>
                <input asp-for="AdminPage.MaxTodoIsIncompleted" class="form-control" />
                <span asp-validation-for="AdminPage.MaxTodoIsIncompleted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Admin">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
