@page
@model SodaMachineRazorPages.Pages.AdminRole.IndexModel
@{
    ViewData["Title"] = "Admin User Roles";
}

<h1>@ViewData["Title"]</h1>

@if (Model.AdminRoleViews != null)
{
    <table class="table">
        <thead>
            <tr>
                @foreach (var property in typeof(AdminRoleView).GetProperties())
                {
                    <th>
                        @property.Name
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var adminRoleView in Model.AdminRoleViews)
            {
                <tr>
                    @foreach (var property in typeof(AdminRoleView).GetProperties())
                    {
                        <td>
                            @property.GetValue(adminRoleView)
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
}
