@page
@model RazorPagesWithAdminPages.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Todo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Todo.TodoId" />
            <div class="form-group">
                <label asp-for="Todo.OwnerId" class="control-label"></label>
                <input asp-for="Todo.OwnerId" class="form-control"/>
                <span asp-validation-for="Todo.OwnerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Todo.ItemDescription" class="control-label"></label>
                <input asp-for="Todo.ItemDescription" class="form-control" />
                <span asp-validation-for="Todo.ItemDescription" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Todo.IsCompleted" /> @Html.DisplayNameFor(model => model.Todo.IsCompleted)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
